<!DOCTYPE html>
<html>
<head>
  <title> Vue Learning </title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="https://kit.fontawesome.com/b5035ca9ea.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
    
<div id='app1' class='section container'>
    <h1 class="title">
        Hi my name is {{name}} and my message is: {{message}}</h1>
    
    <input type="text" class="input" v-model="name">
    <input type="text" class="input" v-model="message">
    </div>

<div id='app2'>
  <h1 class="title">{{ myTitle }}</h1>

  <img width="300" height="500" :src="avatar">
  
  <!--
    shorthand
    <img width='300' height='300' :src='avatar'>
   -->
</div>

<div>
  <a v-on:click='incrementCounter'>Increment Button</a>

  <form v-on:submit="processForm">
  
  <input @keyup="updateText">
</form>

</div>

<div id="app3">
<p>
  Username: {{username}} <br>
  Password: {{password}} <br>
</p>
<button @click="celebrate">Click to celebrate</button>

</div>




</body>
<script src="vue-app.js"></script>
</html>